###
# Gitlab CI
#
# @author Mike Street
# @date 01-2021
#
# Utilises the custom Liquid Light linter
# https://gitlab.lldev.co.uk/devops/lint
#
###

# Stages which are run
stages:
  - backend
  - build
  - build-slim

variables:
  ADDITIONAL_COMMANDS: ""

cache:
  - key:
      files:
        - composer.lock
    paths:
      - vendor/
      - app/**/vendor/
  - key:
      files:
        - package-lock.json
    paths:
      - node_modules/
      - app/**/node_modules/

# Use custom LL docker image
# image: registry.gitlab.lldev.co.uk/devops/containers/buster-node-ci

# # Lint the PHP
# php:stan:
#   stage: backend
#   script:
#     - composer install --no-ansi --no-dev --no-interaction --no-scripts --no-progress --optimize-autoloader
#     - lint php:stan --level=8

# php:coding-standards:
#   stage: backend
#   script:
#     - lint php:coding-standards

# composer:normalize:
#   stage: backend
#   script:
#     - lint composer:normalize

###
# Base Image Build
###

.image:build:
  stage: build
  image: registry.gitlab.lldev.co.uk/devops/containers/deployment/docker:php8.2
  before_script:
    # Login to our registry
    - echo "$DOCKER_REGISTRY_PASS" | docker login $DOCKER_REGISTRY --username $DOCKER_REGISTRY_USER --password-stdin
  script:
    - cd ${APP_PATH}
    - composer install --no-dev --no-interaction --no-scripts --no-progress --optimize-autoloader --ansi  --ignore-platform-reqs
    - $ADDITIONAL_COMMANDS
    - >
      docker build
      --tag $CI_REGISTRY_IMAGE/${TITLE}:dev-main
      -f ./../../Dockerfiles/Linter.dockerfile
      .
    - docker push $CI_REGISTRY_IMAGE/${TITLE}:dev-main
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual

# .slim:image:build:
#   extends:
#     - .image:build
#   stage: build-slim
#   image:
#     name: dslim/slim
#     entrypoint: [""]
#   script:
#     - docker pull $CI_REGISTRY_IMAGE/${TITLE}:dev-main
#     - >
#       /bin/docker-slim
#       --include-path /node_modules
#       --include-path /config
#       --include-path /lint
#       --http-probe false
#       --continue-after 1
#       --target $CI_REGISTRY_IMAGE/${TITLE}:dev-main
#       --tag $CI_REGISTRY_IMAGE/${TITLE}-slim:dev-main
#     - docker push $CI_REGISTRY_IMAGE/${TITLE}-slim:dev-main

###
# Linting Images
###

composer:normalize:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "composer-normalize"
    APP_PATH: "./app/composer-normalize"

editorconfig:lint:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "editorconfig"
    APP_PATH: "./app/editorconfig"

js:eslint:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "js-eslint"
    APP_PATH: "./app/eslint"
    ADDITIONAL_COMMANDS: "npm install --no-save --audit=false"

json:lint:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "json-lint"
    APP_PATH: "./app/json-lint"

php:coding-standards:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "php-coding-standards"
    APP_PATH: "./app/php-coding-standards"

php:rector:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "rector"
    APP_PATH: "./app/rector"

php:stan:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "phpstan"
    APP_PATH: "./app/phpstan"

scss:stylelint:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "stylelint"
    APP_PATH: "./app/stylelint"
    ADDITIONAL_COMMANDS: "npm install --no-save --audit=false"

typoscript:lint:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "typoscript-lint"
    APP_PATH: "./app/typoscript-lint"

yaml:lint:image:build:
  extends:
    - .image:build
  variables:
    TITLE: "yaml-lint"
    APP_PATH: "./app/yaml-lint"
