###
# Gitlab CI
#
# @author Mike Street
# @date 01-2021
#
# Utilises the custom Liquid Light linter
# https://gitlab.lldev.co.uk/devops/lint
#
###

# Stages which are run
stages:
  - backend

# Use custom LL docker image
image: registry.gitlab.lldev.co.uk/devops/containers/buster-node-ci

# Lint the PHP
php:stan:
  stage: backend
  script:
    - composer install --no-ansi --no-dev --no-interaction --no-scripts --no-progress --optimize-autoloader
    - lint php:stan ./src --level=8

php:coding-standards:
  stage: backend
  script:
    - lint php:coding-standards
