###
# Gitlab CI
#
# @author Mike Street
# @date 01-2021
#
# Utilises the custom Liquid Light linter
# https://gitlab.lldev.co.uk/devops/lint
#
###

# Stages which are run
stages:
  - backend
  - build

# Use custom LL docker image
image: registry.gitlab.lldev.co.uk/devops/containers/buster-node-ci

# Lint the PHP
php:coding-standards:
  stage: backend
  script:
    - lint php:coding-standards
  except:
    - tags

build:
  stage: build
  image: flamy/php-composer-node-npm
  script:
    - git config --global http.sslverify false
    - curl -LSs https://box-project.github.io/box2/installer.php | php
    - composer install --no-ansi --no-dev --no-interaction --no-scripts --no-progress --optimize-autoloader
    - npm ci
    - php box.phar build
  artifacts:
    paths:
      - lint.phar
