parameters:
	excludePaths:
		- '%currentWorkingDirectory%/vendor/*'
		- '%currentWorkingDirectory%/**/vendor/*'
		- '%currentWorkingDirectory%/node_modules/*'
		- '%currentWorkingDirectory%/public/*'
		- '%currentWorkingDirectory%/html/*'
